* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background: #2C2C2C;
    font-family: Helvetica, sans-serif;
    color: #A3B18A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 350px;
    perspective: 500px;
}

.container:hover .card { 
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d; 
    transition: transform 900ms;
}



.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-color: #A3B18A;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.back::before {
    content: "Media Manager / Design / UX-UI";
    color: #A3B18A;
    font-weight: bold;
    text-align: bottom;
    margin-bottom: 10px;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    padding-left: 1rem;
}

.front p {
    color: #A3B18A;
    text-align: center;
}

.back {
    background-color: #F0EAD2;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    gap: 1rem; 
    padding: 1rem;
}

.back p {
    text-align: right;
    padding-left: 15rem;
    padding-top: 0.5rem;
}


.image-container {
    margin-top: auto; 
    text-align: center;
}

img { 
    max-width: 100%;
    height: auto;
}
test